.toc-static .active,
.toc-static [data-active="true"] {
  font-weight: normal !important;
  opacity: 1 !important;
  color: inherit !important;
  background: none !important;
}

.toc-static {
  opacity: 1 !important;
}
